<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div id="errormsg" style="display:none"></div>
<div>
    <input id="oldpass" name="oldpassword" type="password" />
    <input id="pass" name="password" type="password" />
    <input id="passConfirm" type="password" />
    <span id="error" style="display:none">Password mismatch</span>

    <button type="submit" onclick="savePass()">Change Password</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

    const serverContext = 'http://localhost:8080';
        function savePass() {
            const pass = $("#pass").val();
            const valid = pass === $("#passConfirm").val();
            if (!valid) {
                $("#error").show();
                return;
            }
            $.post("user/updatePassword",
                {password: pass, oldpassword: $("#oldpass").val()}, function (data) {
                    window.location.href ="/home.html?message=" + data.message;
                })
                .fail(function (data) {
                    $("#errormsg").show().html(data.responseJSON.message);
                });
        }
</script>
</body>
</html>
